@import url("https://fonts.googleapis.com/css?family=Charm|Damion");
:root{
  --mainBlue: #2A2A72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainSeaGreen: #219f8f;
  --mainYellow: #ece93b;
  --mainPink:  #df38c3;
}
.main {
  height: 90vh; 
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

@font-face {
  font-family: 'Decovar Regular24';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}

.title-name {
  margin: 0;
  font-size: 10vw;
  /* position: relative; */
  font-family: "Decovar Regular24";
  font-variation-settings: 'INLN'1000, 'SWRM'580;
  background-size: 30%;
  background-repeat: repeat;
  text-shadow: 2px 2px 5px rgba(42, 67, 8, 0.4);
  animation: grow 5s ease infinite;
  animation-direction: alternate;
  letter-spacing: 0.4rem;
  font-weight: 500;
}

@keyframes grow {
  0% {
    font-variation-settings: 'INLN'1000, 'SWRM'180;
    color: #ece93b;
    font-weight: 700;
  }

  50% {
    font-variation-settings: 'INLN'1000, 'SWRM'280;
    color: #bbb930;
    font-weight: 600;
  }

  100% {
    font-variation-settings: 'INLN'1000, 'SWRM'580;
    color: #6d6c1d;
    font-weight: 500;
  }

}

.profession-header h3 {
  font-family: "Decovar Regular24";
  font-size: 3vw;
  color: #df38c3;
  font-weight: 700;
}

.tagline{
  /* font-family: "Decovar Regular24"; */
  color: #df38c3;
  font-weight: 700;
}
